@echo 

.flex-container {
    display: flex;
}

.flex-container div {
    display: flex;
}

* {
    background-color: beige;
}

img {
    height: auto;
    width: 350px;
}

h1, h2 {
    color: darkolivegreen;
    font-family: Helvetica;

}

p, li, a {
    font-family: Helvetica;
}
